
.Tetramino_1
{
    position: absolute;
    top: 10px ;
    rotate: 90deg;
    animation:down 0.3s 0.4s cubic-bezier(0.68, -0.6, 0.32, 0) forwards;
    z-index:0;
}
.Tetramino_1 div
{
    width: 40px;
    height: 40px;
    border-radius: 0px;
    opacity: 0;
    background-color: rgb(96, 96, 179);
    animation: fade 1ms 0.1s forwards;
}
.Tetramino_1 div:nth-child(4)
{
    position: relative;
    right: 40px;
    bottom: 40px;
}
@keyframes down{
    20%{
        transform: translateY(-120px);
    }
    40%{
        transform:translateY(-120px) rotate(-90deg);
    }
   100%{
        transform:translateY(-120px) rotate(-90deg) translateY(340px); 
   }
}
.Tetramino_2
{
    z-index:0;
    position: absolute;
    top: 10px;
    rotate: 90deg;
    animation: down2 0.3s 0.8s cubic-bezier(0.68, -0.6, 0.32, 0)  forwards;
}
.Tetramino_2 div
{
    width: 40px;
    height: 40px;
    border-radius: 0px;
    opacity: 0;
    background-color: rgb(88, 243, 248); 
    animation: fade 1ms 0.6s forwards;
}
@keyframes down2 {
   20%{
        transform: translateY(140px);
   }
   100%{
        transform: translate(360px, 140px);
   }
}
.Tetramino_3
{
    position: absolute;
    top: 10px;
    animation: down3 0.2s 1.2s cubic-bezier(0.68, -0.6, 0.32, 0)  forwards;
    z-index:0;
}
.Tetramino_3 div
{
    width: 40px;
    height: 40px;
    border-radius: 0px;
    background-color: rgb(16, 190, 25);
    transform: translateX(-20px);
    opacity: 0;
    animation: fade 1ms 1.1s forwards;
}
.Tetramino_3 div:nth-child(1)
{   
    position: relative;
    left: 40px;
    top: 40px;
}
.Tetramino_3 div:nth-child(4)
{   
    position: relative;
    right: 40px;
    bottom: 40px;
}
@keyframes down3 {
   20%{
    transform: translateX(60px);
   }
  100%{
    transform: translate(60px, 340px);
  }
}
.Tetramino_4
{
    z-index:0;
    position: absolute;
    top: 1px;
    animation: down4 0.2s 1.4s cubic-bezier(0.68, -0.6, 0.32, 0)  forwards;
}
.Tetramino_4 div
{
    width: 40px;
    height: 40px;
    border-radius: 0px;
    background-color: rgb(208, 221, 29); 
    transform: translate(-60px, -51px);
    opacity: 0;
    animation: fade 1ms 1.3s forwards;
}

.Tetramino_4 div:nth-child(1)
{
    position: relative;
    left: 40px;
    top: 120px;
    
}
.Tetramino_4 div:nth-child(2)
{
    position: relative;
    left:40px;
    top: 40px;
}
@keyframes down4{
    10%{
        transform: translate(-100px, 0px);
    }
    100%{
        transform: translate(-100px, 320px)
    }
}
.Tetramino_5
{
    z-index:0;
    position: absolute;
    top: 10px;
    rotate: 90deg;
    animation: down5 0.2s 1.7s cubic-bezier(0.68, -0.6, 0.32, 0)  forwards;
}
.Tetramino_5 div
{
    width: 40px;
    height: 40px;
    border-radius: 0px;
    background-color: rgba(225, 8, 233, 0.781); 
    transform: translate(20px, 20px);
    opacity: 0;
    animation: fade 1ms 1.6s forwards;
}
.Tetramino_5 div:nth-child(1)
{
    position: relative;
    left: -40px;
    top: 80px;
}


@keyframes down5{
       10%{
            transform:rotate(90deg) translateX(20px) ; 
       }
       100%{
        transform: rotate(90deg) translate(20px, -360px);
       }

}
.Tetramino_6
{
    z-index:0;
    position: absolute;
    top: 10px;
    animation: down6 0.1s 2.1s cubic-bezier(0.68, -0.6, 0.32, 0)  forwards;
}
.Tetramino_6 div
{
    width: 40px;
    height: 40px;
    border-radius: 0px;
    background-color: rgb(190, 16, 16);
    transform: translateX(-20px);
    opacity: 0;
    animation: fade 1ms 2s forwards;
}
.Tetramino_6 div:nth-child(1)
{   
    position: relative;
    right: 40px;
    top: 40px;
}
.Tetramino_6 div:nth-child(4)
{   
    position: relative;
    left: 40px;
    bottom: 40px;
}

@keyframes down6{
    20%{
         transform:translateX(20px); 
    }
    100%{
     transform: translate(20px, 260px);
    }

}

.Tetramino_7
{
    z-index:0;
    position: absolute;
    top: 10px ;
    rotate: 90deg;
    animation: down7 0.175s 2.5s cubic-bezier(0.68, -0.6, 0.32, 0)  forwards;
}
.Tetramino_7 div
{
    width: 40px;
    height: 40px;
    border-radius: 0px;
    background-color: rgb(255, 199, 94);
    transform: translate(-20px,20px);
    opacity: 0;
    animation: fade 1ms 2.4s forwards;
}
.Tetramino_7 div:nth-child(4)
{
    position: relative;
    right: 40px;
    bottom: 120px;
}

@keyframes down7 {
    20%{
        transform: rotate(-90deg);
    }
    60%{
        transform: rotate(-90deg) translateX(-60px);
    }
    100%{
        transform: rotate(-90deg) translate(-60px, 280px)
    }
}
.Tetramino_8
{
    z-index:0;
    position: absolute;
    rotate: 90deg;
    top: 10px;
    animation: down8 0.25s 2.85s cubic-bezier(0.68, -0.6, 0.32, 0)  forwards;
}
.Tetramino_8 div
{
    width: 40px;
    height: 40px;
    border-radius: 0px;
    background-color: rgba(225, 8, 233, 0.781); 
    opacity: 0;
    animation: fade 1ms 2.8s forwards;
}
.Tetramino_8 div:nth-child(1)
{
    position: relative;
    left: -40px;
    top: 80px;
}
@keyframes down8 {
    10%{
        transform:  rotate(-180deg);
    }
    90%{
        transform:rotate(-180deg) translateY(60px); 
    }
   100%{
        transform:rotate(-180deg) translate(-240px, 60px) ;
   }
}
.Tetramino_9
{
    z-index:0;
    position: absolute;
    top: 10px ;
    rotate: 90deg;
    animation: down9 0.3s 3.3s cubic-bezier(0.68, -0.6, 0.32, 0)  forwards;
}
.Tetramino_9 div
{
    width: 40px;
    height: 40px;
    border-radius: 0px;
    background-color: rgb(96, 96, 179);
    opacity: 0;
    animation: fade 1ms 3.2s forwards;
}
.Tetramino_9 div:nth-child(4)
{
    position: relative;
    right: 40px;
    bottom: 40px;
}
@keyframes down9 {
    20%{
        transform: translateY(200px);
    }
    60%{
        transform: translateY(200px) rotate(90deg);
    }
    100%{
        transform: translate(260px, 200px) rotate(90deg);
    }
}
.Tetramino_10
{
    z-index:0;
    position: absolute;
    top: 10px;
    rotate: 90deg;
    animation: down10 0.4s 3.8s cubic-bezier(0.68, -0.6, 0.32, 0)  forwards;
}
.Tetramino_10 div
{
    width: 40px;
    height: 40px;
    border-radius: 0px;
    background-color: rgb(88, 243, 248);
    opacity: 0; 
    animation: fade 1ms 3.7s forwards;
}
@keyframes down10 {
   10%{
    
        transform:translateX(-20px) rotate(90deg);
   }
 60%{
    transform:translate(-20px, -160px) rotate(90deg);
  }
  100%{
    transform:translate(-20px, -160px) rotate(90deg) translateY(-320px);
    
  }
}
@keyframes fade {
   100%{
        opacity: 1;
    }
}